*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.product-list-area {
  /* border: 1px blue solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

@media only screen and (max-width:1439px) {
  .product-list-area {
    max-width: 916px;
  }
}

@media only screen and (max-width:1199px) {
  .product-list-area {
    max-width: 736px;
  }
}