/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.product__img {

  object-fit: cover;
} 


.product {
  --content-padding: 1rem;
  --content-spacing: 0.5rem;
  --button-color:rgb(227, 86, 0);

  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 0.875rem;
  color: hsl(228, 12%, 48%);
  background-color: hsl(0, 0%, 100%);
  border: 1px rgb(182, 180, 180) solid;
  border-radius: 0.2rem;
  overflow: hidden;
  width: 250px;
  height: 450px;
  cursor: pointer;
}

.product:hover {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.product__content {
  display: grid;
  gap: var(--content-spacing);
  /* border: 2px red solid; */
  padding: var(--content-padding);
}

.product__offer {
  border-radius: 0.3rem;
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--button-color);
  color: white;
}

.product__title {
  overflow: hidden;
  height: 2.7rem;
  font-weight: 700;
  color: black;
}


.product__description {
  overflow: hidden;
  height: 2.5rem;
}

.product__price {
  font-weight: 700;
  font-size: 1.1rem;
  color: black;
}


.button {
  border: none;
  visibility: hidden;
  background-color: var(--button-color);
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 0.3rem;
  text-decoration: none;
}

.product:hover .button {
  visibility: visible;
  cursor: pointer;
}

.product:hover .button:hover {
  background-color: rgb(187, 86, 0);
}