/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Top Header */
.top-header {
  background-color: #fff;
  color: rgb(227, 86, 0);
  padding: 20px 0 0 0;
}

.top-header__container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header__logo {
  font-size: 2em;
}

.top-header__search-container form {
  display: flex;
}

.top-header__search-container input[type="text"] {
  border: none;
  background-color: #fff;
  color: #333;
  padding: 8px 10px;
  border-radius: 5px 0 0 5px;
  font-size: 1em;
  flex-grow: 1;
  border:#333 solid 1px;
}

.top-header__search-container button[type="submit"] {
  border: 1px white solid;
  background-color: #333;
  color: #fff;
  padding: 8px 20px;
  border-radius: 0 5px 5px 0;
  font-size: 1em;
  cursor: pointer;
}

.top-header__search-container button[type="submit"]:hover {
  background-color: #fff;
  color: #333;
  border: #333 1px solid;
}

.top-header__login-cart {
  display: flex;
  gap: 20px;
}

.top-header__login a {
  border: #333 solid 1px;
  background-color: #333;
  color: white;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.top-header__login a:hover {
  background-color: white;
  color: #333;
}


.top-header__cart a {
  border: #333 solid 1px;
  background-color: #333;
  color: white;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.top-header__cart a:hover {
  background-color: white;
  color: #333;
}

/* Top Header Colorful Area */
.top-header__colorful {
  width: 100%;
  margin-top: 30px;
  display: flex;
  height: 8px;
}

.top-header__colorful .color1 {
  width: 25%;
  background-color: #7622da;
}

.top-header__colorful .color2 {
  width: 25%;
  background-color: #47c6eb;
}

.top-header__colorful .color3 {
  width: 25%;
  background-color: #ed5f1f;
}

.top-header__colorful .color4 {
  width: 25%;
  background-color: #f59f28;
}

/* Bottom Header */
.bot-header {
  background-color: #eeeeee;
  color: black;
}

.bot-header__menu {
  display: flex;
}

.bot-header__menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 56px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
}

.bot-header__menu a:hover {
  color: #ccc;
}

