.header {
  background-color: #fff;
  color: rgb(227, 86, 0);
  padding: 20px;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin: 0;
}

form {
  display: flex;
}

input[type="text"] {
  border: none;
  background-color: #fff;
  color: #333;
  padding: 8px 10px;
  border-radius: 5px 0 0 5px;
  font-size: 1em;
  flex-grow: 1;
  border:#333 solid 1px;
}

button[type="submit"] {
  border: 1px white solid;
  background-color: #333;
  color: #fff;
  padding: 8px 20px;
  border-radius: 0 5px 5px 0;
  font-size: 1em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #333;
  border: #333 1px solid;
}

.header-colorful {
  width: 100%;
  margin-top: 30px;
  display: flex;
  height: 8px;
}

.header-bot1 {
  width: 25%;
  background-color: #7622da;
}

.header-bot2 {
  width: 25%;
  background-color: #47c6eb;
}

.header-bot3 {
  width: 25%;
  background-color: #ed5f1f;
}

.header-bot4 {
  width: 25%;
  background-color: #f59f28;
}